@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*gap: 1rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.dummy {
    height: 5rem;
}

.container {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
    /*max-width: 100vw;*/
    padding: 1rem;
}

.inner-container {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
}

.bg-black {
    height: 50px;
    padding: 6rem;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-teal {
    background-color: darkcyan;
}

.background-black {
    background-color: #222222;
}

.background-navy {
    background-color: #0c2461;
}

.isolate {
    isolation: isolate;
}

.bg-white {
    background-color: white;
    height: 100px;
    width: 300px;
}

/******** ROTATE BG  **********/

#rotate_bg {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #272727;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    margin: 0.5em;
}

#rotate_bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

#rotate_bg:hover::before {
    transform: rotate(0deg);
}

/******** SWIPE BG  **********/

#swipe-bg {
    margin-top: 0.5em;
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

#swipe-bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #351435;
    transition: all 1s;
    transform: translate(-100%, -100%);
    /*transform: translateX(-100%);*/
}

#swipe-bg:hover {
    color: #ffffff;
}

#swipe-bg:hover::before {
    transform: translate(0, 0);
    /*transform: translateX(0);*/
}

/******** CROSS BG  **********/

#cross-bg {
    margin-top: 0.5em;
    font-family: sans-serif;
    padding: 40px 80px;
    font-size: 45px;
    text-decoration: none;
    color: #262626;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: all 1s;
}

#cross-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #262626;
    transition: all 1s;
    transform: rotateX(90deg);
}

#cross-bg:hover {
    color: #ffffff;
}

#cross-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #262626;
    transition: all 1s;
    transform: rotateY(90deg);
}

#cross-bg:hover::before {
    transform: rotateX(0deg);
}

#cross-bg:hover::after {
    transform: rotateY(0deg);
}

/******** STRETCH BG  **********/

#stretch {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "roboto", serif;
    font-weight: 300;
    letter-spacing: -2px;
    transition: all 0.5s;
}

#stretch:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}

/******** SWIPE TOP **********/

#swipe-top {
    margin-top: 0.5em;
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

#swipe-top::before {
    content: 'YEAH';
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f44336;
    transition: all 1s;
    transform: translateY(-100%);
    /*transform: translateX(-100%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#swipe-top:hover::before {
    transform: translateY(0);
}

/******** GLOW  **********/

#glow {
    background-color: #222222;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid white;
    padding: 40px 80px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

#glow:hover {
    background-color: #f44336;
}

#glow::before {
    content: "";
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

#glow:hover::before {
    transform: translateX(100%) rotate(45deg);
}

/******** TWO LAYER  **********/

#two-layer {
    text-decoration: none;
    background-color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 4px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

#two-layer::before {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#two-layer::after {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

#two-layer:hover::before {
    transform: translate(100%, -100%);
}

#two-layer:hover::after {
    transform: translate(0%, 0%);
}

/******** SCALING  **********/

#scaling {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #262626;
    padding: 40px 80px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

#scaling::before {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

#scaling:hover::before {
    transform: scale(1);
    opacity: 1;
}

/******** CIRCULAR SWAPPING  **********/

#circular-swapping {
    align-self: center;
    border: 2px solid tomato;
    background: none;
    color: tomato;
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

#circular-swapping:hover {
    color: white;
}

#circular-swapping::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: tomato;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 0.5s;
}

#circular-swapping:hover::before {
    height: 190%;
}

/******** ROTATING 3 LAYERS  **********/

#rotating-layers {
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f1c40f;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
}

#rotating-layers::before {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2ce771;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

#rotating-layers:hover::before {
    transform: rotateX(0deg);
}

#rotating-layers::after {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

#rotating-layers:hover::after {
    transform: rotateX(0deg);
}

/******** LEFT RIGHT SWAPPING  **********/

#lr-swapping {
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid #ff0;
    font-size: 30px;
    position:relative;
}

#lr-swapping::before {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#lr-swapping:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

#lr-swapping::after {
    content: "button";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
    transition: all 0.5s;
}

#lr-swapping:hover::after {
    left: 0;
    transform: scale(1) rotateY(0deg);
    opacity: 1;
}

/******** CIRCLES TO BACKGROUND  **********/

#circles-bg {
    width: 220px;
    height: 80px;
    color: #ff0;
    background-color: transparent;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    transition: all 0.5s;
    position: relative;
}

#circles-bg:hover {
    color: #262626;
    transition-delay: 0.4s;
}

#circles-bg::before,
#circles-bg::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    z-index: -1;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    opacity: 0;
}

#circles-bg::before {
    left: 0;
    box-shadow: -100px 0 0 #ff0;
}

#circles-bg::after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
}

#circles-bg:hover::before {
    left: 50%;
    box-shadow: 30px 0 0 #ff0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

#circles-bg:hover::after {
    right: 50%;
    box-shadow: -30px 0 0 #ff0;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

#circles-bg span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: -1;
}

#circles-bg:hover span {
    transform: scale(1);
    transition-delay: 0.4s;
}

/******************* BUTTON HOVER EFFECT ******************/

#hover_effect {
    text-decoration: none;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s;
    color: white;
}

#hover_effect:hover {
    color: #272727;
}

#hover_effect::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

#hover_effect:hover::before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}

#hover_effect::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
}

#hover_effect:hover::after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}

/******************* SPLIT BUTTON ******************/
#split-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #f6b93b;
    letter-spacing: 3px;
    padding: 25px 50px;
    border: 3px solid #f6b93b;
    transition: all .5s;
    position: relative;
    overflow: hidden;
}

#split-btn::before,
#split-btn::after,
#split-btn span::before,
#split-btn span::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: -1;
    transition: all 0.2s;
}

#split-btn::before {
    /*top: 0;*/
    /*left: -25%*/
    top: 100%;
    left: 0;
}

#split-btn:hover::before {
    top: 0;
    left: 0;
}

#split-btn::after {
    /*top: 0;*/
    top: -100%;
    left: 25%;
    transition-delay: .1s
}

#split-btn:hover::after {
    top: 0;
    left: 25%;
}

#split-btn span::before {
    /*top: 0;*/
    top: 100%;
    right: 25%;
    transition-delay: .2s;
}

#split-btn:hover span::before {
    top: 0;
    right: 25%;
}

#split-btn span::after {
    /*top: 0;*/
    /*right: -25%;*/
    top: -100%;
    right: 0;
    transition-delay: .3s;
}

#split-btn:hover span::after {
    top: 0;
    right: 0;
}

#split-btn:hover {
    color: #222;
}

/******************* BORDER SWAPPING ******************/
#border-swap {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: Verdana, serif;
    letter-spacing: 3px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    color: #fdc518;
    position: relative;
    /*border: 2px solid blue;*/
}

#border-swap::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 200px;
    top: -15px;
    left: 0;
    border-left: 2px solid red;
    border-right: 2px solid #fdc518;
    transition: all 0.4s;
}

#border-swap::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 230px;
    top: 0;
    left: -15px;
    border-top: 2px solid red;
    border-bottom: 2px solid #fdc518;
    transition: all 0.4s;
    transition-delay: 0.4s;
}

#border-swap:hover::before {
    transform: rotateY(180deg);
}

#border-swap:hover::after {
    transform: rotateX(180deg);
}

/******************* BORDER GROWING ******************/
#border-grow {
    border: none;
    padding: 12px 40px;
    background-color: #c47135;
    color: white;
    font-family: "BenchNine", serif;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

#border-grow::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    /*background-color: red;*/
    border-top: 2px solid #c47135;
    border-left: 2px solid #c47135;
    transition: all 0.25s;
}

#border-grow::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;
    /*background-color: red;*/
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all 0.25s;
}

#border-grow:hover::before,
#border-grow:hover::after {
    height: 100%;
    width: 100%;
}

/******************* FIRST LETTER ROTATE ******************/
#first-letter-rotate {
    text-decoration: none;
    width: 160px;
    height: 60px;
    color: black;
    border: 2px solid black;
    text-align: center;
    line-height: 60px;
    font-family: "BenchNine", serif;
    font-size: 25px;
    position: relative;
    transition: all 0.2s;
}

#first-letter-rotate:hover {
    color: white;
}

#first-letter-rotate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
}

#first-letter-rotate:hover::before {
    opacity: 1;
    transform: rotate(15deg);
}

#first-letter-rotate span {
    color: transparent;
    position: relative;
}

#first-letter-rotate span::before {
    content: "B";
    position: absolute;
    color: black;
    transition: all 0.2s;
}

#first-letter-rotate:hover span::before {
    color: white;
    font-size: 80px;
    transform: translate(-65%, -10%) rotate(360deg)
}

/******************* CREATIVE BUTTON BORDER GROW ******************/
#creative-border-button {
    background-color: transparent;
    border: none;
    position: relative;
    width: 400px;
    height: 120px;
    text-transform: uppercase;
    line-height: 120px;
    text-align: center;
    color: white;
    font-size: 45px;
    letter-spacing: 15px;
    cursor: pointer;
    overflow: hidden;
}

#creative-border-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.5s;
}

#creative-border-button:hover::before {
    left: 0;
}

#creative-border-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.5s;
}

#creative-border-button:hover::after {
    right: 0;
}

#creative-border-button span::before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transition: all 0.5s;
}

#creative-border-button:hover span::before {
    top: 0;
}

#creative-border-button span::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transition: all 0.5s;
}

#creative-border-button:hover span::after {
    bottom: 0;
}

/******************* CUTS BUTTON ******************/

#cuts-button {
    text-decoration: none;
    width: 160px;
    height: 60px;
    color: black;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    padding: 0;
}

#cuts-button span {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 2px solid black;
    z-index: -1;
}

#cuts-button span::before {
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .2s;
}

#cuts-button:hover {
    color: white;
}

#cuts-button:hover span::before {
    width: 100%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(60deg);
}

/******************* SKEWED BUTTON ******************/

#skewed-button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    letter-spacing: 7px;
    padding: 18px 30px;
    background: transparent;
    font-size: 28px;
    color: white;
}

#skewed-button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: -1%;
    top: -5px;
    background-color: #ee5253;
    z-index: -1;
    transform: skewX(30deg);
    transition: all .3s cubic-bezier(.68, .55, .265, 1.55);
}

#skewed-button:hover::before {
    transform: skewX(0deg);
    left: 50%;
    top: 0;
}

#skewed-button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 51%;
    top: 5px;
    background-color: #0a3d62;
    z-index: -1;
    transform: skewX(30deg);
    transition: all .3s cubic-bezier(.68, .55, .265, 1.55);
}

#skewed-button:hover::after {
    transform: skewX(0deg);
    left: 0;
    top: 0;
}

/******************* PULSE BUTTON ******************/

.container:has(> #pulse-button) {
    min-height: 120px;
}

#pulse-button {
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    padding: 25px 50px;
    background-color: white;
    color: #777;
    border-radius: 100px;
    font-size: 24px;
    transition: all .2s;
}

#pulse-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 100px;
    transition: all .4s;
    z-index: -1;
}

#pulse-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0 0 0 / .2);
}

#pulse-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0 0 0 / .2);
}

#pulse-button:hover::before {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/******************* DIAGONAL SWIPE ******************/
#diagonal-swipe {
    box-sizing: content-box;
    text-decoration: none;
    position: relative;
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #250e74;
    border: 4px solid #250e74;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all .5s;
    overflow: hidden;
}

#diagonal-swipe:hover {
    color: white;
}

#diagonal-swipe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-right: 40px solid transparent;
    transition: all .5s;
    z-index: -1;
    transform: translateX(-100%);
}

#diagonal-swipe:hover::before {
    transform: translateX(0);
}

#diagonal-swipe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-left: 40px solid transparent;
    transition: all .5s;
    z-index: -1;
    transform: translateX(100%);
}

#diagonal-swipe:hover::after {
    transform: translateX(0);
}

/******************* GLOW EFFECT BUTTONS ******************/

.glow-button {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 35px;
    border: 2px solid #1e9bff;
    color: #1e9bff;
    font-size: 20px;
    letter-spacing: 4px;
    transition: all .5s;
}

.glow-button:hover {
    color: #fff;
    border: 2px solid transparent;
}

.glow-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e9bff;
    transform: scale(0);
    transition: all .5s;
    z-index: -1;
}

.glow-button:hover::before {
    transform: scale(1);
    transition-delay: .5s;
    box-shadow: 0 0 10px #1e9bff, 0 0 30px #1e9bff, 0 0 60px #1e9bff;
}

.glow-button > span {
    position: absolute;
    background-color: #1e9bff;
    box-shadow: 0 0 10px #1e9bff, 0 0 20px #1e9bff, 0 0 30px #1e9bff, 0 0 50px #1e9bff, 0 0 100px #1e9bff;
}

.glow-button > span:nth-child(1),
.glow-button > span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.glow-button > span:nth-child(2),
.glow-button > span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.glow-button > span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transition: all .5s ease-in-out;
    transform-origin: left;
    transition-delay: .25s;
}

.glow-button:hover > span:nth-child(1) {
    left: 50%;
    transform: scaleX(0);
    transition-delay: 0s;
}

.glow-button > span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transition: all .5s ease-in-out;
    transform-origin: top;
    transition-delay: .25s;
}

.glow-button:hover > span:nth-child(2) {
    top: 50%;
    transform: scaleY(0);
    transition-delay: 0s;
}

.glow-button > span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transition: all .5s ease-in-out;
    transform-origin: right;
    transition-delay: .25s;
}

.glow-button:hover > span:nth-child(3) {
    right: 50%;
    transform: scaleX(0);
    transition-delay: 0s;
}

.glow-button > span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transition: all .5s ease-in-out;
    transform-origin: bottom;
    transition-delay: .25s;
}

.glow-button:hover > span:nth-child(4) {
    bottom: 50%;
    transform: scaleY(0);
    transition-delay: 0s;
}

/******************* GLASSMORPHISM EFFECT BUTTON ******************/

.glass-btn {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}

.glass-btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ff0461;
    bottom: -5px;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    transition: all 0.5s;
    transition-delay: 0s;
}

.glass-btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.glass-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ff0461;
    top: -5px;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    transition: all 0.5s;
    transition-delay: 0s;
}

.glass-btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.glass-btn:nth-child(1)::before,
.glass-btn:nth-child(1)::after {
    background: #ff1f72;
    box-shadow: 0 0 5px #ff1f72, 0 0 15px #ff1f72, 0 0 30px #ff1f72, 0 0 60px #ff1f72;
}

.glass-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 / .051);
    box-shadow: 0 15px 35px rgba(0 0 0 / .2);
    border-top: 1px solid rgba(250 52 52 / .1);
    border-bottom: 1px solid rgba(255 255 255 / .1);
    z-index: 10;
    color: #fff;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .5s;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.glass-btn:hover > a {
    letter-spacing: 3px;
}

.glass-btn > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255 255 255 / .149), transparent);
    transform: skewX(45deg);
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.glass-btn > a:hover::before {
    transform: skewX(45deg) translateX(200%);
    transition-delay: 0s;
}



