@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #000;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 15px 30px;
    margin: 0 15px;
    text-decoration: none;
    color: #ffeb3b;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 2px solid #ffeb3b;
    border-left: 2px solid #ffeb3b;
    transition: all .5s;
    box-sizing: border-box;
    transform-origin: left;
}

a:hover::before {
    width: 15px;
    height: 15px;
    transform: rotate(360deg);
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-bottom: 2px solid #ffeb3b;
    border-right: 2px solid #ffeb3b;
    transition: all .5s;
    box-sizing: border-box;
    transform-origin: right;
}

a:hover::after {
    width: 15px;
    height: 15px;
    transform: rotate(360deg);
}

